body {
  background-color:white;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small-button {
  background-color: red;
  margin-top: 50px;
  font-size: 100px;
}

.big-boton {
  background-color: greenyellow;
  margin-top: 50px;
  font-size: 100px;
}
